html,
body,
#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 12px;
  line-height: 19px;
  color: #555;
  background-color: #fff;
  border-radius: 7px;
}

.legend i {
  float: left;
  width: 21px;
  height: 21px;
  margin-right: 9px;
  opacity: 0.74;
}

.leaflet-bottom.leaflet-left {
  width: 88%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 18px;
}